# Python temp files
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints
*.pyc
*.swp
*~
*.png
learning
*.pickle
*.pt
*.pdf
*.lyx
*.zip
**/loss-history.txt
*.prof
**/#*.lyx#
nohup.out
examples/a617
doc/sphinx/_build
.DS_Store
build/
dist/
pyoptmat.egg-info/
examples/ode/results.txt
examples/ode/log
results.txt